{{>message}}
<body>

    

<div id="artistsContainer" class="container mt-3 mb-3 md-3">
{{!-- {{#each geneData as |gene|}}
  {{displayGeneInfo gene}}  <h2>{{gene.name}}</h2>  <div class="col-md-4"> --}}
  {{#each geneNames}}
    <h2>{{geneNames}}</h2> <div class="col-md-2">
      <div class="card mt-3">
        <div class="card-header">
          </div>
        <div class="card-body">
          <div class="row">
            {{#each artists}}
              <div class="col-md-2"> <div class="card mb-3">
                  <img src="{{thumbnail}}" class="card-img-top" alt="{{name}} Thumbnail">
                  <div class="card-body">
                    <p class="card-text">{{name}}</p> </div>
              </div></div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{!-- </div>
    {{/each}} --}}
  {{/each}}
</div>

    <script src = "/resources/js/script.js" type="text/javascript"></script>
    <!-- Script to fetch and display artists -->
    <script>
        // Example usage: Fetch artists of a certain gene when the page loads
        $(document).ready(function() {
            var geneNames = ['modern','pop-art']; // Replace with the desired gene names
            fetchArtistsByGene(geneNames);
        });
    </script>
</body>
