<title>Display One Artist Page</title>
{{> message }}

<div class="container mt-3" id="artistContainer">
  <div class="row">
    <div class="col-md-4">
      <img src="{{ artistInfo.thumbnailURL }}" alt="{{ artistInfo.name }} Thumbnail" class="img-fluid mb-3">
    </div>
    <div class="col-md-8">
      <h2>{{ artistInfo.name }}</h2>
      <p>
        {{#if artistInfo.birthday}}
          Born: {{ artistInfo.birthday }}
        {{/if}}
        {{#if artistInfo.deathday}} - Died: {{ artistInfo.deathday }}{{/if}}
        <br>
        {{#if artistInfo.location}}
          Location: {{ artistInfo.location }}
        {{/if}}
      </p>
      <p>{{ artistInfo.biography }}</p>
    </div>
  </div>
</div>
