<div>
    <div class="container pb-0 mb-2">
        <h4 class="text-center mt-2">Explore Artworks</h4>
        <div class="row row-cols-3 gy-4">
            {{#each artworks}}
                <div class="col">
                    <div class="card h-100 overflow-y-scroll shadow">
                        <img src={{_links.thumbnail.href}} class="card-img-top w-100 h-50 object-fit-cover">
                        <div class="card-body">
                            <h6 class="card-title">{{title}}</h6>
                            <!--
                            {{#each (getArtistNameByArtworkId id)}}
                                <p class="fw-light fst-italic">
                                    {{name}}
                                </p>
                            {{/each}}
                            here I'm trying to access the name of the artist through an external
                            helper function which makes a call to artsy to retrieve the artist
                            by the artwork id
                            -->
                            <div class="card-text fst-italic fw-light">
                                <p>{{date}}</p>
                            </div>
                            <div class="card-text">
                                <p>{{medium}}</p>
                            </div>
                            <div class="card-text">
                                <p>{{dimensions.in.text}}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a id="artworks-button" href="/artwork/{{id}}" class="btn btn-dark shadow">View Work</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>