<div>
    <!--
        Setup:
        - discover route should make API calls to Artsy, retrieving Events, Artworks, Artists
        - grid like structure
            - hierarchy:
                - Events
                - Artworks
                - Artists
        - will display a sample of the ones retrieved by the API
        - 
    -->
    <div id="events">
        <div class="container text-center">
            <div class="row gx-2 mt-2 justify-content-center mb-1">
                <h4 class="col-md-3">Featured Events</h4>
                <div class="col-md-3">
                    <a href="/events" class="btn btn-secondary p-1 shadow">Explore</a>
                </div>
            </div>
        </div>
        <div class="container-md mb-2">
            <div class="row gx-4">
                {{#each eventsArr}}
                    <div class="col-3 mb-3">
                        <div class="card h-100 overflow-y-scroll shadow">
                            <img src='{{this.eventImage}}' class="card-img-top w-100 h-50 object-fit-cover">
                            <div class="card-body">
                                <h6 class="card-title">{{this.eventName}}</h6>
                            </div>
                            <div class="card-footer">
                                <a id="card-button" href="{{this.eventLink}}" class="btn btn-dark shadow">View Event</a>
                            </div>
                        </div>
                    </div>
                    {{!-- <p>{{this.eventName}}</p> --}}
                {{/each}}
            </div>
        </div>
    </div>
    <div id="artworks">
        <div class="container text-center">
            <div class="row justify-content-center mt-2 mb-1">
                <h4 class="col-md-3">Featured Artworks</h4>
                <div class="col-md-3">
                    <a href="/artworks" class="btn btn-secondary p-1 shadow">Explore</a>
                </div>
            </div>
        </div>
        <div class="container pb-0 mb-2">
            <div class="row gx-4">
                {{#each artworks}}
                    <div class="col-3 mb-3">
                        <div class="card h-100 overflow-y-scroll shadow">
                            <img src='https://www.artic.edu/iiif/2/{{image_id}}/full/843,/0/default.jpg' class="card-img-top w-100 h-50 object-fit-cover">
                            <div class="card-body">
                                <h6 class="card-title">{{title}}</h6>
                                <div class="card-text fst-italic fw-light">
                                    <p>{{artist_display}}</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a id="card-button" href="/artwork/{{id}}" class="btn btn-dark shadow">View Work</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="artists">
        <div class="container text-center">
            <div class="row justify-content-center mt-2 mb-1">
                <h4 class="col-md-3">Featured Artists</h4>
                <div class="col-md-3">
                    <a href="/artists" class="btn btn-secondary p-1 shadow">Explore</a>
                </div>
            </div>
        </div>
        <div class="container mb-2">
            <div class="row gx-4">
                {{#each artists}}
                    <div class="col-3 mb-3">
                        <div class="card h-100 overflow-y-scroll shadow">
                            <img src={{thumbnail}} class="card-img-top w-100 h-50 object-fit-cover">
                            <div class="card-body">
                                <h6 class="card-title">{{title}}</h6>
                                <div class="card-text fst-italic fw-light">
                                    <p>{{birth_date}}</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a id="card-button" href="/artist/{{id}}" class="btn btn-dark shadow">View Artist</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>