<body>
{{> message}}
<div class="container-fluid" id="page container">
    <div class="container-fluid" id="userinfo">
        <div class="text-justified">
            <h3 mx-5>{{username}}'s followed artists: </h3>
        </div>
    </div>

    <div class="container mt-3 mb-3" id="artistContainer">
        <div class="row">
            {{#each artists}}
                {{#if thumbnail}}
                    <div class="col-md-4 mb-4">
                        <div class="artist-card h-100 shadow-sm position-relative" data-artistID="{{id}}" data-name="{{title}}">
                            <img src="{{thumbnail}}" class="card-img-top" alt="Artwork by {{title}}">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{title}}</h5>
                              </div>
                            <div class="card-footer" id="links_container">
                              <div class="d-grid gap-2">
                                  <button type="more_button" class="btn btn-outline-danger">See More</button>
                                  {{!-- <button type="unfollow_button" class="btn btn-outline-danger">Unfollow</button> --}}
                              </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    let container = document.querySelector('#artistContainer');
    if (container) {
      container.addEventListener('click', (event) => {
        const artistID = event.target.closest('.artist-card').dataset.artistid;
        console.log('Artist ID: ' + artistID);
        if (artistID) {
          window.location.href = `/artist/${artistID}`;
        }
      });
    } else {
      console.error('Container not found in the DOM.');
    }

    // Move this part inside the event listener
    /* document.addEventListener('click', (event) => {
      if (event.target.matches('#unfollow_button')) {
        // Prevent the default button action
        event.preventDefault();

        // Get the artist ID from the button's data attribute
        const artistId = event.target.getAttribute('data-artist-id');
        console.log('Artist ID (client): ' + artistId);
        const artistName = document.querySelector('#artistInfo').getAttribute('data-artist-name');

        // Make an AJAX POST request to the server
        $.ajax({
          url: '/unfollow', // Your server endpoint that handles the POST request
          type: 'POST',
          data: { artistId: artistId, artistName: artistName }, // Data you want to send to the server
          success: function (response) {
            // Handle success (e.g., update the button text to 'Following', display a message, etc.)
            console.log('Unfollow successful:', response);
            // Reload window
            window.location.reload();
          },
          error: function (xhr, status, error) {
            // Handle error
            console.log('Unfollow failed:', error);
          },
        });
      }
    }); */
  });
</script>
