<div class="container">
    <!--
        Important information passed to page
        title:
        date_display:
        artist_display
        place_of_origin
        description - note this is html so use triple brackets
        medium_display
        style_title
        style_id - maybe can use to search for similar artwork

        Features to add:
            - Button to add to collection
                - maybe add modal which appears upon successful request
                - maybe change button color if successful
            - button to search for more artworks by artist, maybe genre
        -->
    <div class="row justify-center mt-4">
        <div class="col-4 p-2">
            <p class="fw-light mb-0">{{artist_display}}</p>
            <div class="w-75">
                <h4 class="text-wrap">{{title}}</h4>
            </div>
            <div class="w-75">
                <p class="text-wrap fst-italic fw-lighter">{{medium_display}}  --  {{date_display}}</p>
            </div>
            {{{description}}}
            <a class="btn btn-outline-primary" href="/profile/{{username}}/collection/{{id}}">Add To Collection</a>
                <!--Modal implementation-->
            <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add a Comment
            </a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title center" id="exampleModalLabel" align="center">Add a comment to {{title}}</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/#" method="POST" class="form-container">
                                    <div class="form-group">
                                        <label for="comment" class="form-label mt-2">Add comment</label>
                                        <input id = "comment" type="text" class="form-control" name="comment" required>
                                    <button type="submit" class="btn btn-primary mt-4">Add Comment</button>
                                    <button type="close" class="btn btn-primary mt-4">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                <!--end of modal-->
        </div>
        <div class="col-8 p-2">
            <img class="img-fluid object-fit-cover text-center" src={{image_src}}/>
        </div>
    </div>
    <hr/>
</div>