<div class="container">
    <!--
        Important information passed to page
        title:
        date_display:
        artist_display
        place_of_origin
        description - note this is html so use triple brackets
        medium_display
        style_title
        style_id - maybe can use to search for similar artwork

        Features to add:
            - Button to add to collection
                - maybe add modal which appears upon successful request
                - maybe change button color if successful
            - button to search for more artworks by artist, maybe genre
        -->
    <div class="row justify-center mt-4">
        <div class="col-4 p-2">
            <p class="fw-light mb-0">{{artist_display}}</p>
            <div class="w-75">
                <h4 class="text-wrap">{{title}}</h4>
            </div>
            <div class="w-75">
                <p class="text-wrap fst-italic fw-lighter">{{medium_display}}  --  {{date_display}}</p>
            </div>
            {{{description}}}
            <a class="btn btn-outline-primary" href="/profile/{{username}}/collection/{{id}}">Add To Collection</a>
        </div>
        <div class="col-8 p-2">
            <img class="img-fluid object-fit-cover text-center" src={{image_src}}/>
        </div>
    </div>
    <hr/>
</div>