<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="col-sm-8 py-5 mx-auto">
    <title>User Profile</title>
</head>

<body>
    <h1>{{username}}'s Profile</h1>

    <br>

    <h2>Your Artworks</h2>
        {{#if userImages}}
        <div class="container mt-3 mb-3" id="imageContainer">
  <div class="row" id="imageRow">
    {{#each userImages}}
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm position-relative" data-imageID="{{image_id}}" data-title="{{image_title}}">
          <img src="{{image_link}}" class="card-img-top" alt="Artwork by {{image_title}}">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <div class="d-grid gap-2">
                <button type="follow_button" class="btn btn-outline-danger" onclick="window.location.href='/userImages/{{this.image_id}}'">Learn More</button>
              
            </div>
            </div>
        </div>
        </div>
    {{/each}}
    </div>
    </div>
    {{else}}
        <p>No original artwork!</p>
    {{/if}}

    {{!-- <br>

    <h2>Followed Artists</h2>

    {{#if followedArtists}}
        <ul>
            <table>
            {{followedArtists}}
            </table>
        </ul>
    {{else}}
        <p>No followed artists!</p>
    {{/if}}

    <br> --}}
    

    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <br>

    <h2>Upload Artwork</h2>

</body>
</html>

  <form action="/upload" method="POST" enctype="multipart/form-data">
              <div class="mb-3">
                    <div class="form-file custom-file">
                        <input class="form-control" type="file" id="formFile" name="image" multiple>
                        <label class="form-file-label" for="image"
                        </label>
                    </div>
                    <input class="form-control" type="text" id="title" name="title" placeholder="Enter title">
                    <input class="form-control" type="text" id="descp" name="descp" placeholder="Enter caption">
           </div>
     <button type="submit" class="btn btn-success">Upload</button>
</form>

{{!-- Now, for each image in the userImages array, we want to display them in a row of bootstrap cards with the title  --}}

  
